{% extends 'base.html' %}
{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class= "display-1 text-center" >Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, sequi libero exercitationem quis illo cupiditate natus quos explicabo at harum dicta similique neque vel culpa, quod maiores itaque doloremque cum ab! Voluptate ipsam quibusdam dolor ad facere odit expedita doloremque maiores id adipisci voluptatibus laborum labore harum nisi impedit voluptates, quis optio possimus nam accusamus. Provident placeat magni dignissimos doloribus eaque explicabo totam similique, odit tempora dolores possimus, harum reiciendis. Reiciendis nostrum optio ipsam? Aliquam fugiat facilis provident dolores nam ipsam at debitis sequi et. Sit quis corrupti nostrum odit neque maxime autem tempore, voluptatum excepturi est dolor, quo repudiandae?</p>
 
      <div class="text-center">
         <a class="btn btn-secondary" href="/signin/">
            Signin
         </a> 
         <a class="btn btn-dark" href="/signup/">
            Signup
         </a>
      </div>
    </section>
</main>
{% endblock %}
